<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our || BLOG</title>
    <!-- FONTAWESOME LINK -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- FONTAWESOME LINK -->

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./style.css" />
    <!-- CUSTOM CSS -->
  </head>
  <body>
    <!--SHOW BLOG PART -->

    <div class="post_blog_container">
      <div class="post_blog">
        <form action="">
          <div class="title">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Title" id="" />
          </div>
          <div class="description">
            <label for="description">Description</label>
            <textarea
              type="text"
              name="description"
              placeholder="Description"
              id=""
              cols="30"
              rows="10"
            >
            </textarea>
          </div>

          <div>
            <button class="post_blog_btn" type="submit">
              Edit
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
