<%- include('./layout/Navbar.ejs') %>
<section class="registration">
  <div class="form-fields-container container">
    <form action="/auth/forgetpassword" method="POST">
      <div class="input-field password">
        <input
          type="email"
          name="email"
          placeholder="Email"
          id=""
          required="true"
        />
        <i class="uil uil-envelope-alt email-icon"></i>
      </div>
      <div class="forget-pass">
        <button>
          Sign in
          <i class="uil uil-arrow-right"></i>
        </button>
      </div>
    </form>
  </div>
</section>
<%- include('./layout/footer.ejs') %>
