<%- include('./layout/Navbar.ejs') %>

<section>
  <div class="features_container container">
    <div class="feature_card">
      <img src="./images/i1.png" alt="" />
    </div>
    <div class="feature_card">
      <img src="./images/i2.png" alt="" />
    </div>
    <div class="feature_card">
      <img src="./images/i3.png" alt="" />
    </div>
    <div class="feature_card">
      <img src="./images/i1.png" alt="" />
    </div>
  </div>
</section>

<section>
  <div class="card_container container">
    <div class="card">
      <img src="./images/t.jpg" alt="" />
      <div class="card_content">
        <span class="author">Mohammad Sohan</span>
        <a href="">
          <h3>
            New year edition top ux/ui design.New year edition top ux/ui
            design.New year edition top ux/ui design
          </h3>
        </a>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima esse
          deleniti at harum officiis dolorem aspernatur repellendus ad, corporis
          suscipit?
        </p>
      </div>
      <div class="card_footer">
        <div class="left-f">
          <span>1 Aug | 7 min read</span>
        </div>
        <div class="right-f">
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-comment"></i>
          <i class="fa-solid fa-share-nodes"></i>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="./images/t.jpg" alt="" />
      <div class="card_content">
        <span class="author">Mohammad Sohan</span>
        <a href="">
          <h3>
            New year edition top ux/ui design.New year edition top ux/ui
            design.New year edition top ux/ui design
          </h3>
        </a>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima esse
          deleniti at harum officiis dolorem aspernatur repellendus ad, corporis
          suscipit?
        </p>
      </div>
      <div class="card_footer">
        <div class="left-f">
          <span>1 Aug | 7 min read</span>
        </div>
        <div class="right-f">
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-comment"></i>
          <i class="fa-solid fa-share-nodes"></i>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="./images/t.jpg" alt="" />
      <div class="card_content">
        <span class="author">Mohammad Sohan</span>
        <a href="">
          <h3>
            New year edition top ux/ui design.New year edition top ux/ui
            design.New year edition top ux/ui design
          </h3>
        </a>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima esse
          deleniti at harum officiis dolorem aspernatur repellendus ad, corporis
          suscipit?
        </p>
      </div>
      <div class="card_footer">
        <div class="left-f">
          <span>1 Aug | 7 min read</span>
        </div>
        <div class="right-f">
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-comment"></i>
          <i class="fa-solid fa-share-nodes"></i>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="./images/t.jpg" alt="" />
      <div class="card_content">
        <span class="author">Mohammad Sohan</span>
        <a href="">
          <h3>
            New year edition top ux/ui design.New year edition top ux/ui
            design.New year edition top ux/ui design
          </h3>
        </a>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima esse
          deleniti at harum officiis dolorem aspernatur repellendus ad, corporis
          suscipit?
        </p>
      </div>
      <div class="card_footer">
        <div class="left-f">
          <span>1 Aug | 7 min read</span>
        </div>
        <div class="right-f">
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-comment"></i>
          <i class="fa-solid fa-share-nodes"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./layout/footer.ejs') %>
