<%- include('./layout/Navbar.ejs') %>

<section class="registration">
  <div class="form-fields-container container">
    <form action="/auth/login" method="POST">
      <div class="input-field password">
        <input
          type="text"
          name="email"
          placeholder="Email"
          id="email"
          required="true"
        />
        <i class="uil uil-envelope-alt email-icon"></i>
      </div>

      <div class="input-field password">
        <input
          type="password"
          name="password"
          placeholder="Password"
          id=""
          required="true"
        />
        <i class="uil uil uil-lock email-icon"></i>
      </div>
      <div class="not-register flex items-center justify-between">
        <span>
          Not registred?
          <a href="/register"> creates a new account </a>
        </span>
        <span>
          Forget Password?
          <a href="/auth/forgetpassword"> forget password </a>
        </span>
      </div>

      <div>
        <button type="submit">
          Sign in
          <i class="uil uil-arrow-right"></i>
        </button>
      </div>
    </form>
  </div>
</section>

<%- include('./layout/footer.ejs') %>
