<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our || BLOG</title>
    <!-- FONTAWESOME LINK -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- FONTAWESOME LINK -->

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./style.css" />
    <!-- CUSTOM CSS -->
  </head>
  <body>
    <div class="read_more_container">
      <div class="read_more_img">
        <img src="./images/t.jpg" alt="" />
      </div>
      <div class="read_more_content container">
        <h1>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum enim
          quo asperiores eos, laborum voluptatum dolore repellendus!
        </h1>
        <div class="date">
          <span><small>Published At:</small> june 22, 2022, 2.11pm</span>
        </div>
        <div class="user_image_container">
          <img src="./images/t.jpg" alt="" />
          <span>Mohammad sohan</span>
        </div>
        <div class="read_more_content_desc">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos porro
            aut eveniet earum, non sint sed iusto placeat quia nulla labore!
            Libero veritatis adipisci accusamus natus aperiam voluptate non
            dolorem hic assumenda debitis placeat, officiis laudantium dolor
            quas vel facilis voluptatum excepturi dignissimos laborum in iste
            doloribus similique. Nesciunt adipisci, itaque veritatis suscipit
            quam natus saepe beatae libero deserunt ullam blanditiis inventore
            repudiandae et, obcaecati asperiores error in officia dolorem, iusto
            maxime dolorum ipsam cumque! Perferendis, alias! Nisi dignissimos,
            illum cum sequi, enim quasi ullam commodi repellendus vel iste eius,
            optio fugiat! Velit dolorum voluptates aliquam itaque rerum
            inventore excepturi sunt recusandae voluptate eligendi porro vitae
            exercitationem error autem esse aliquid iure aut perferendis,
            officiis est consequatur numquam? Veniam deleniti aperiam quisquam
            incidunt. Quod, eligendi reiciendis. Numquam nam impedit
            necessitatibus ex soluta. Itaque, esse! Libero neque debitis quia
            soluta fuga aut vitae sunt illum qui possimus harum nihil enim dicta
            eum animi ad explicabo a nulla obcaecati voluptatem nesciunt ipsa,
            ex minima? Eum dicta temporibus velit rem ipsa tenetur quisquam
            possimus quaerat totam, cum eos iste nobis pariatur praesentium
            repudiandae deleniti explicabo asperiores quidem iure deserunt minus
            aliquam vel aliquid! Sed, quibusdam voluptatibus quas adipisci saepe
            officia quae debitis eum.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
