<%- include('./layout/Navbar.ejs') %>

<section class="registration">
  <div class="form-fields-container container">
    <form action="/auth/register" method="POST" enctype="multipart/form-data">
      <div class="input-field password">
        <input
          type="text"
          name="username"
          placeholder="Username"
          required="true"
        />
        <i class="uil uil-user email-icons"></i>
      </div>

      <div class="input-field password">
        <input
          type="text"
          name="email"
          placeholder="Email"
          id="email"
          required="true"
        />
        <i class="uil uil-envelope-alt email-icon"></i>
      </div>

      <div class="input-field password">
        <input
          type="password"
          name="password"
          placeholder="Password"
          id=""
          required="true"
        />
        <i class="uil uil uil-lock email-icons"></i>
      </div>
      <div class="input-field password">
        <input
          type="password"
          name="cPassword"
          placeholder="Confirm Password"
          id=""
          required="true"
        />
        <i class="uil uil uil-lock email-icons"></i>
      </div>
      <div class="reg-images">
        <label for="image">Upload Image</label>
        <input type="file" name="image" id="" required="true" />
      </div>
      <div class="not-register">
        <span>
          Already have an account?
          <a href="/login"> Sign in </a>
        </span>
      </div>
      <div>
        <button>
          Registration now

          <i class="uil uil-arrow-right"></i>
        </button>
      </div>
    </form>
  </div>
</section>

<%- include('./layout/footer.ejs') %>
