  <footer>
    <div class="content">
      <h3>All rights reserved by <span>
          @Mohammad Sohan Hossain
        </span></h3>
    </div>
  </footer>
<script src="../../JS/app.js"></script>
</body>
</html>